body{
    background-image: url(img.wall.png);
}

header{
    height: 150px;
    display: flex;
    justify-content: center;
}
.container-title{
    font-size: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
