header{
    height: 130px;
    display: flex;
    justify-content: center;
    background-image: url("../img/wall.png");
}
.container-title{
    font-size: 85px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    background-image: url("../img/cork.png");
}
.container-card{
    padding: 30px 200px;
}
.container-card .col-4{
    padding: 10px;
}
.col-4 .card .card-image{
    border-top: url("../img/pin.svg");
    background-color: green;
    margin: 15px;
    height: 250px;
}
.col-4 .card .card-title{
    margin: 0 15px;
    padding: 10px 0;
}









   


